/*
 * Sidebar
 */
 
.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow: hidden;
  background: #1E1E21;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Sidebar navigation */
.navSidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  max-height: 90%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navSidebar::-webkit-scrollbar {
  display: none;
}

.sidebarRadio {
  box-sizing: border-box;
  background: #4D4D56;
  border: 1px solid #000000;
  border-radius: 15px;
  margin: 10px 10px;
  min-height: 4em;
  cursor: pointer;
}

.sidebarRadio:hover {
  filter: brightness(1.5);
}
.sidebarRadio:active {
  filter: brightness(2);
}

.sidebarRadioName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  backdrop-filter: blur(2px);
  padding-top: 16px;
  padding-right: 0px;
}

.sidebarRadioCheck {
  position: absolute;
  left: 0;
  color: #1267FC;
  font-size: 42px;;
}

.menuNavSidebar {
  overflow: hidden;
}

.menuButton {
  position: relative;
  width: 42px;
  height: 42px;
  margin-top: -15px;
  float: right;
  margin-right: 1em;
  cursor: pointer;
}

.menuButton .menuIcon {
  color: #1267FC;
  font-size: 42px;
}
.menuIcon:hover {
  filter: brightness(1.5);
}
.menuIcon:active {
  filter: brightness(2);
}

.formGroup {
  width: 30vh;
  margin: auto;
}

.inputSearch {
  padding: 0px 20px;
  background: #62626C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  border-radius: 10px;
  width: 100% !important;
  min-height: 2.5em;
  color: #FFFFFF;
}

.inputSearch::placeholder {
  color: #FFFFFF;
}

/*
 * Main content
 */

.main {
  padding: 4vh 5vw;
}
.main .pageHeader {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.listHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 4vw;
  padding-top: 12px;
}

.listSearch {
  text-align: right;
}

.listSearch .listSearchIcon {
  color: #1267FC;
  font-size: 28px;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .listSearchIcon {
    position: absolute;
    top: -100px;
    left: 87vw;
  }
}
.listSearchHover {
  filter: brightness(1.5);
}
.listSearchActive {
  filter: brightness(2);
}

.listSearch .listSearchText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.favoriteList {
  box-sizing: border-box;
  background: #4D4D56;
  border: 1px solid #000000;
  border-radius: 10px;
  max-height: calc(100vh - 25rem);
  overflow: hidden scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.favoriteList::-webkit-scrollbar {
  display: none;
}

.listRadio {
  background: #62626C;
  backdrop-filter: blur(2px);
  list-style-type: none;
  min-height: 5em;
  padding-top: 10px;
  margin: 15px 10px;
}

.playingRadio {
  background: inherit;
}

.radioFaviconDiv {
  text-align: right;
  padding-right: 50px;
}

.listRadioFavicon {
  position: absolute;
  width: 54px;
  height: 48px;
  border-radius: 50px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;
}

.transparentFavicon {
  opacity: 40%;
}

.radioPlayButton {
  position: absolute;
  top: -10px;
  right: -5px;
  cursor: pointer;
  color: #000000;
  font-size: 50px;
  z-index: 4;
}

.radioStopButton {
  position: absolute;
  top: -10px;
  right: -2px;
  cursor: pointer;
  color: #000000;
  font-size: 50px;
  z-index: 4;
}

.playingRadioStopButton {
  position: absolute;
  top: -25px;
  right: -5px;
  cursor: pointer;
  color: #000000;
  font-size: 60px;
}

.listRadioName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.listRadioTags {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.listRadioButton {
  margin-top: 5px;
}
@media (max-width: 576px) {
  .listRadioButton {
    padding: 0px;
    margin-left: 20px;
    width: fit-content;
  }
}

.listRadioIcon {
  cursor: pointer;
  color: #000000;
  font-size: 30px;
}