.main {
  padding: 4vh 5vw;
}
.main .pageHeader {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.listHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 4vw;
  padding-top: 12px;
}

.favoriteList {
  box-sizing: border-box;
  background: #4D4D56;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: calc(100vh - 25rem);
  overflow: hidden scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.favoriteList::-webkit-scrollbar {
  display: none;
}