.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow: hidden;
  background: #1E1E21;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navSidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  max-height: 90%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navSidebar::-webkit-scrollbar {
  display: none;
}